body{
	font-family: 'Source Sans Pro', sans-serif;
	color: #000000;
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #EEEEEE;
}

.news-item{
	height: auto;
	width: 100%;
	margin-bottom: 10px;
	float: left;
}
.news-item img{
	margin-left: 3%;
	margin-right: 3%;
	float: left;
	width: 80px;
	height: 80px;
}

.news-item h4, h3, p{
	margin: 0;
}

.footer{
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	position: absolute;
}

.nav{
	background-color: #272727;
	height: 49px;
	width: 99%;
	margin: 0 0 3% 0;
	top: 0;
}

.nav > ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #ffffff;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	overflow: hidden;
	float: right;
}

.nav > ul li {	
	float: left;
}

.nav > ul li a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px 14px 16px;
}

.nav > ul li a:hover{
	text-decoration: underline;
	/*background-color:#439EC9;*/
	/*background-color:#E74C3C;*/
}

.nav-left{
	float: left;
}

.nav-left > h1{
	margin: 0 0 0 10px;
	padding: 0;
	color: #ffffff;
	font-family: 'Roboto Slab', sans-serif;

}
.active{
	/*background-color:#E74C3C;*/
	background-color: #439EC9;
}

.box-square-sm-focus{
	width: 22.5%;
	height: 185px;
	float: left;
	background-color: #439EC9;
	margin-right: 0;
	margin-left: 3%;
	margin-bottom: 3%;	
}

.box-square-sm-focus h2{
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	margin: 0 0 0 3%;
	padding-top: 5%;
	padding-left: 10px;
	font-weight: 700;
	color: #fff;
}

.regular{
	background-color: #fff;
}

.block{
	height: auto;
	float: left;
	width: 100%;
	margin: 0;
	padding-right: 0;
}

.secondary-nav{
	background-color: #ECF0F1;
	height: 60px;
	width: 99%;
	margin: 0 0 3% 0;
	top: 0;
}

.secondary-nav h1{
	font-family: 'Roboto Slab', sans-serif;
	margin: 0 0 0 10px;
	padding-top: 5px;
	float: left;
}

.grid-wrapper{
	max-width: 1020px;
	background-color: #ffffff;
	margin: 0 auto;
	min-height: 100%;
}

.box-square-lg{
	width: 48%;
	/*background-color: #ECF0F1;*/
	background-color: #FFFFFF;
	height: 400px;
	float: left;
	margin-left: 3%;
}

.box-rect-news a{
	text-decoration: none;
	color: #439EC9;
	font-weight: 700;
}

.box-header{
	height: 57px;
	/*background-color: #2C3E50;*/
	/*background-color: #439EC9;*/
	background-color: #ffffff;
}

.box-header h1{
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 25px;
	margin: 0 0 0 3%;
	padding-top: 2%;
	padding-left: 10px;
	color: #000000;
}

.box-rect{
	width: 22.5%;
	height: 400px;
	/*background-color: #ECF0F1;*/
	background-color: #FFFFFF;
	float: left;
	margin-bottom: 3%;
}

.box-rect h2{
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	margin: 0 0 0 3%;
	padding-top: 5%;
	padding-left: 10px;
	font-weight: 700;
}

.box-rect ul{
	margin-top: 10px;
}

.box-rect ul li {
	font-size: 16px;
}

.box-rect ul li > a{
	text-decoration: none;
	color: #000;
}

.box-rect ul li > a:hover{
	text-decoration: underline;
}

.box-rect span > a{
	float: right;
	font-weight: 700;
	font-family: 'Roboto Slab', serif;
	padding: 5px;
	text-decoration: none;
}

.box-square-sm{
	width: 22.5%;
	height: 185px;
	float: left;
	/*background-color: #ECF0F1;*/
	margin-right: 0;
	margin-left: 3%;
	margin-bottom: 3%;
}

.box-square-sm h2{
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	margin: 0 0 0 3%;
	padding-top: 5%;
	padding-left: 10px;
	font-weight: 700;
	color: #000000;
}

.box-square-thumb{
	color: black;
	float: left;
	margin-left: 5px;
	width: 100%;
	margin-bottom: 5px;
}

.sm-text{
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	margin-bottom: 0px;
	float: left;
}

.box-square-content{
	/*padding: 10px;*/
	width: 100%;
	height: 185px;
}

.box-square-content > img{
	width: 228px;
}

.overlay{
	position: relative; top: -20px; z-index: 3;
	background-color: #ffffff;
	height: 20px;
	text-align: center;
}

.overlay >p{
	background-color: #439EC9;
	color: #fff;
	padding: 5px;
}
.box-rect-list{
	background-color: #439EC9;
	float: left;
	margin-left: 5px;
	word-wrap: break-word;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 2px;
	color: #fff;
}

.news-wrapper{
	margin-top: 5px;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
}
.box-rect-news{
	background-color: white;
	height: 75px;
	margin: 5px 5px 5px 10px;
}

.box-rect-news h4{
	margin: 0;
	padding-top: 5px;
	padding-left: 5px;
	font-weight: 300;
	font-size: 15px;
}
.box-rect-news h3{
	margin: 0;
	padding-left: 5px;
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 700;
}
.box-rect-news p{
	margin-top: 0;
	padding-left: 5px;
	padding-bottom: 5px;
}

.footer{
	float: left;
	background-color: red;
}

@media all and (max-width: 768px) {
	.box-square-lg,.box-square-sm, .nav{
		float: none;
		width: 100%;
		margin: 0 0 3% 0;
	}

	.box-rect{
		display: none;
	}

}
