<h3 class="section-title">BLOG</h3>
<div class="blog-list">
    <div class="media" data-ng-repeat="blog in vm.blogs">
        <div class="media-body">
            <span class="author">{{blog.author.first_name}} {{blog.author.last_name}}</span>
            <h4 class="media-heading">
                <strong>
                  <a data-ng-href
                     data-ng-bind-html="blog.title | sanitize"></a>
               </strong>
          </h4>
        </div>
    </div>
</div>
<button class="btn btn-primary more"
        data-ng-click="getBlogs()"
        data-ng-show="vm.blogs.length > 1">View More</button>
