<h3 class="section-title">BLOG</h3>
<div class="blog-list">
    <div class="media">
        <div class="media-body">
            <span class="author">PATRICK THOMPSON</span>
            <h4 class="media-heading"><strong>ICT Division - Our Role</strong></h4>
        </div>
    </div>

    <div class="media">
        <div class="media-body">
            <span class="author">KADIAN CHIN</span>
            <h4 class="media-heading"><strong>Implementing Koha - MEGJC Library Management System</strong></h4>
        </div>
    </div>

    <div class="media">
        <div class="media-body">
            <span class="author">ZANE FRANCIS</span>
            <h4 class="media-heading"><strong>GOJ HCMES - HR Digital Transformation</strong></h4>
        </div>
    </div>
</div>
<button class="btn btn-primary more">View More</button>