<h3 class="section-title">STAFF FOCUS</h3>
<div class="media">
    <div class="media-left">
        <img src="http://placehold.it/80x80" class="thumbnail-md">
    </div>
    <div class="media-body">
        <span class="author">NEW MEMBERS OF STAFF</span>
        <h4 class="media-heading"><strong>Grace Young</strong></h4>
        Human Resource Department
    </div>
</div>

<div class="media">
    <div class="media-left">
        <img src="public/img/staff/thumbnails/80/thumbnail.jpg" class="thumbnail-md">
    </div>
    <div class="media-body">
        <span class="author">HAPPY BIRTHDAY</span>
        <h4 class="media-heading"><strong>Patrick Thompson</strong></h4>
        ICT Department
    </div>
</div>

<div class="media">
    <div class="media-left">
        <img src="http://placehold.it/80x80" class="thumbnail-md">
    </div>
    <div class="media-body">
        <span class="author">HAPPY BIRTHDAY</span>
        <h4 class="media-heading"><strong>Matthew Ferguson</strong></h4>
        ICT Department
    </div>
</div>
<button class="btn btn-primary more" data-ng-click="showStaffFocus()">View More</button>