<h3 class="section-title">POLL</h3>
      <p class="poll-question">What are your thoughts on the new intranet?</p>
      <form novalidate ng-submit="processPoll()">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                I really like it!
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                I'm ok with it.
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                I don't like it.
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                I don't think I'm ready for this.
          </label>
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>