<div class="row">
        <div class="col-md-3">
          <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title"><i class="fa fa-cogs" aria-hidden="true"></i> Popular Links</h1>
          </div>
           <ul class="list-group">
            <li class="list-group-item"><a href>Help Desk</a></li>
            <li class="list-group-item"><a href="/directory">Staff Directory</a></li>
            <li class="list-group-item">Web Mail</li>
            <li class="list-group-item">Policies</li>
          </ul>
        </div>
        </div>
        <div class="col-md-6">
              <div class="panel panel-default">
                  <div class="panel-heading"><h1 class="panel-title">Notice Board</h1></div>
                      <div class="panel-body">
                          <div class="media" data-ng-repeat="notice in notices">
                            <div class="media-left">
                              <a href="#">
                                <img class="media-object" src="http://placehold.it/64" alt="">
                              </a>
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading"><strong>{{notice.title}}</strong></h4>
                              <p>{{notice.date}}</p>
                            </div>
                          </div> <!-- end of media -->
                          <button class="btn btn-link pull-right" data-ng-click="goTo('notices')" ng-if="notices.length > 3">MORE</button>
                      </div>
                </div> <!-- end of notice panel -->
        </div>
        <div class="col-md-3">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                <i class="fa fa-birthday-cake" aria-hidden="true"></i> Happy Birthday</h1>
            </div>
            <div class="panel-body">
                <p ng-if="birthdays.length < 1">There are no birthdays at this time.</p>
                <div class="media" data-ng-repeat="birthday in birthdays" ng-if="birthdays.length > 0">
                    <div class="media-left media-bottom">
                      <a href="#">
                        <img class="media-object img-circle" ng-src="{{birthday.thumbnail}}" width="64px" height="64px" alt="">
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">{{birthday.title}}</h4>
                      <p>{{birthday.title}}</p>
                    </div>
                </div>
                <button class="btn btn-link pull-right" data-ng-click="goTo('birthdays')" ng-if="birthdays.length > 3">MORE</button>
            </div>
          </div> <!-- end of panel -->
        </div>
        <div class="row">
          <!-- <div class="thumbnail">
            <img src="http://placehold.it/200">
          </div> -->
        </div>
          
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title"><i class="fa fa-bullhorn" aria-hidden="true"></i> Job Vacancies</h1>
          </div>
          
          <ul class="list-group">
            <li class="list-group-item"><a href>Data Entry Clerk IT</a></li>
            <li class="list-group-item">Director SEG 6</li>
            <li class="list-group-item">Corporate Planning Anaylst</li>
            <li class="list-group-item">Principal Financial Officer</li>
          </ul>
        </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
          <div class="panel-heading"><h1 class="panel-title">News Feed</h1></div>
          <div class="panel-body">
            <div class="media" data-ng-repeat="item in news">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="http://placehold.it/64" alt="">
              </a>
            </div>
            <div class="media-body">
              <a data-ng-href="{{item.link}}" target="_blank">
                  <h4 class="media-heading"><strong>{{item.title}}</strong></h4></a>
              <p>{{item.pubDate}}</p>
            </div>
          </div>
          <button class="btn btn-link pull-right">MORE</button>
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading"><h1 class="panel-title"><i class="fa fa-question" aria-hidden="true"></i> Staff Poll</h1></div>
              <div class="panel-body">
              What do you think about the new intranet?
              <form>
                <div class="form-group">
                  <div class="radio">
                      <label>
                        <input type="radio">
                          I like it
                      </label>

                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio">
                          I would use it everyday
                      </label>
                      
                    </div>

                    <div class="radio">
                      <label>
                        <input type="radio">
                          It's a great tool
                      </label>
                      
                    </div>

                    <div class="radio">
                      <label>
                        <input type="radio">
                          Its not for me
                      </label>
                      
                    </div>

                </div>
              </form>
              <button class="btn">cast your vote</button>
              
              </div>
        </div>
        </div>
          
        </div>
      </div>