<div class="row">
  <div class="col-md-3 notice">
  <h3 class="section-title">STAFF NOTICES</h3>
    <div class="media" data-ng-repeat="notice in notices">
      <div class="media-left">
        <img src="http://placehold.it/50" class="thumbnail-sm">
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{notice.title}} <span>{{notice.time}}</span></h4>
      </div>
    </div>
      <button class="btn btn-primary more">View More</button>
    <hr class="item-divider">
      <h3 class="section-title">DID YOU KNOW</h3>
      <ol class="numbered-list">
          <li>Once you have completed your vacation leave, your resumption letter should be submitted as soon as possible.</li>
      </ol>
      <hr class="item-divider">
      <h3 class="section-title">POLL</h3>
      <p class="poll-question">What are your thoughts on the new intranet?</p>
      <form novalidate ng-submit="processPoll()">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                I really like it!
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                I'm ok with it.
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                I don't like it.
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                I don't think I'm ready for this.
          </label>
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>

      <hr class="item-divider">

      <h3 class="section-title">VACANCIES</h3>
      <ol class="numbered-list">
          <li><a href="">Personnel Manager</a></li>
          <li><a href="">Driver DR 1</a></li>
          <li><a href="">Procurement Officer SEG 1</a></li>
          <li><a href="">Records Officer 1 RIM 2</a></li>
          <li><a href="">Director, Inspectorate SEG 3</a></li>
      </ol>
        <button class="btn btn-primary more">View More</button>
  </div>
  <div class="col-md-6 main-content">
      <img src="http://placehold.it/550x300">
      <h1 class="main-section-title">Welcome to MEGJC</h1>
      <p>Bacon ipsum dolor amet leberkas sirloin brisket corned beef jowl swine rump kevin short loin chicken. Boudin venison short loin, doner turducken ribeye shank biltong cow kielbasa chicken salami. Meatloaf pig turducken chuck bacon spare ribs tongue tail short loin ball tip flank rump frankfurter. Sausage brisket sirloin t-bone</p>
      <hr class="section-divider">
      <!-- Error Message -->
      <!-- <div class="media">
        <div class="media-left">
        </div>
        <div class="media-body">
         <strong>Opps! We could not load your news feed at this time.</strong>
        </div>
      </div>  -->
      <h3 class="section-title">NEWS FEED</h3>
      <div class="media" data-ng-repeat="item in news">
        <div class="media-left">
            <div class="media-body">
              <h4 class="media-heading"><strong>{{item.title}}</strong> <span>Published on {{item.pubDate}}</span></h4>
              <p>{{item.description}}</p>
            </div>
        </div>
        <hr>
      </div>
  </div>

  <div class="col-md-3 secondary-content">
      <h3 class="section-title">STAFF FOCUS</h3>

      <div class="media">
          <div class="media-left">
              <img src="http://placehold.it/80x80" class="thumbnail-md">
          </div>
          <div class="media-body">
              <span class="author">NEW MEMBERS OF STAFF</span>
              <h4 class="media-heading"><strong>Grace Young</strong></h4>
              Human Resource Department
          </div>
      </div>

      <div class="media">
          <div class="media-left">
              <img src="img/staff/thumbnails/80/thumbnail.jpg" class="thumbnail-md">
          </div>
          <div class="media-body">
              <span class="author">HAPPY BIRTHDAY</span>
              <h4 class="media-heading"><strong>Patrick Thompson</strong></h4>
              ICT Department
          </div>
      </div>

      <div class="media">
          <div class="media-left">
              <img src="http://placehold.it/80x80" class="thumbnail-md">
          </div>
          <div class="media-body">
              <span class="author">HAPPY BIRTHDAY</span>
              <h4 class="media-heading"><strong>Matthew Ferguson</strong></h4>
              ICT Department
          </div>
      </div>
      <button class="btn btn-primary more">View More</button>
      <hr class="item-divider">
      <h3 class="section-title">VIDEO</h3>
      <img src="http://placehold.it/260x200">
      <h4><strong>How to write a memo</strong></h4>
      <hr class="section-divider">

      <h3 class="section-title">BLOG</h3>
      <div class="blog-list">
           <div class="media">
            <div class="media-body">
              <span class="author">PATRICK THOMPSON</span>
              <h4 class="media-heading"><strong>ICT Division - Our Role</strong></h4>
            </div>
        </div>

        <div class="media">
          <div class="media-body">
            <span class="author">KADIAN CHIN</span>
            <h4 class="media-heading"><strong>Implementing Koha - MEGJC Library Management System</strong></h4>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <span class="author">ZANE FRANCIS</span>
            <h4 class="media-heading"><strong>GOJ HCMES - HR Digital Transformation</strong></h4>
          </div>
        </div>
    </div>
    <button class="btn btn-primary more">View More</button>
  </div>
</div>
