<div class="row">
  <div class="col-md-3"></div>
</div>
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-9">
		<h2 class="department-title">All Mails</h2>
	</div>
</div>

<div class="row help-desk">
	<div class="col-md-3"
       data-ng-include="'public/app/modules/mail/partials/menu.html'">
  </div>

	<div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <input type="text"
                class="form-control"
                placeholder="Search mail"
                ng-model="search">
        </div>
      </div>
    </div>
			<div class="open-ticket-wrapper">
				<table class="table table-hover">
					<thead>
						<tr>
              <th></th>
							<th>Sender</th>
							<th>Subject of Mail</th>
							<th>Received</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="mail in mails | filter:search" data-ng-click="showMail(mail.id)">
              <td><i class="fa fa-envelope-o" aria-hidden="true"></i></td>
							<td>{{mail.sender}}</td>
							<td>{{mail.subject}}</td>
							<td>{{mail.receipt_date | timestamp | date:'medium'}}</td>
						</tr>
					</tbody>
				</table>
			</div>
	</div>
</div>
