<div ng-include="'public/app/partials/sub-menu.html'"></div>
<hr class="custom-hr"/>
<div class="row help-desk">
	<div class="col-md-12">
			<div class="open-ticket-wrapper">
        <div ng-show="follow_ups < 1">
          <p ><strong>There are no mails flagged for follow up.</strong></p>
        </div>
				<table class="table table-hover" ng-show="follow_ups.length > 0">
					<thead>
						<tr>
              <th></th>
							<th>Sender</th>
							<th>Subject</th>
							<th style="text-align:right;">Due Date</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="mail in follow_ups | filter:search" data-ng-click="showMail(mail.id)">
              <td style="width:40px">
								<i class="fa fa-envelope-o" aria-hidden="true" style="color:red"></i>
							</td>
							<td style="width:184px" class="capitalize">{{mail.sender}}</td>
							<td class="capitalize">{{mail.subject}}</td>
							<td style="text-align:right;width:150px;font-weight:600" >{{mail.follow_date | timestamp | date:"MMM d"}}</td>
						</tr>
					</tbody>
				</table>
			</div>
	</div>
</div>
