<div class="row">
  <div class="col-md-3"></div>
</div>
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-9">
		<h3 class="department-title capitalize" style="font-weight:normal">{{mail_corr.subject}}</h3>
      <hr>
	</div>
</div>

<div class="row help-desk">
	<div class="col-md-3"
       data-ng-include="'public/app/modules/mail/partials/menu.html'">
  </div>
  <div class="col-md-9">
    <label>From </label>
    <div class="well well-sm capitalize">
      {{mail_corr.sender}}
    </div>

    <label>Received on </label>
    <div class="well well-sm ">
      {{mail_corr.receipt_date | timestamp | date:'fullDate'}}
    </div>

    <label>Correspondence dated</label>
    <div class="well well-sm">
      {{mail_corr.mail_date | timestamp | date:'fullDate'}}
    </div>

    <label>Recipient</label>
    <div class="well well-sm capitalize">
      {{mail_corr.receipent}}
    </div>

    <label>From Organization</label>
    <div class="well well-sm capitalize">
      {{mail_corr.from_org}}
    </div>

    <label>Type of Mail</label>
    <div class="well well-sm capitalize">
      {{mail_corr.mail_type}}
    </div>

    <label>Entered on</label>
    <div class="well well-sm">
      {{mail_corr.created_on | timestamp | date:'fullDate'}}
    </div>


    <!-- <div class="alert alert-success alert-dismissible"
         role="alert"
         data-ng-if="file_upload_msg">
      <button type="button" class="close" aria-label="Close"
              data-ng-click="dismiss('file_upload_msg')">
              <span aria-hidden="true">&times;</span></button>
      <strong>Attachment added to mail correspondence</strong>
    </div> -->

    <label>Attachments</label>
    <p ng-show="uploads.length < 1">There are no attachments for this mail correspondence.</p>
    <table class="table table-hover" ng-show="uploads.length > 0">
        <tr ng-repeat="upload in uploads">
          <td style="color:#2780E3"><i class="fa fa-file-o" aria-hidden="true"></i></td>
          <td>{{upload.file_name}}</td>
          <td>{{upload.created_on | timestamp | date: 'MMM d'}}</td>
          <td><a ng-href="{{root}}/{{upload.file_name}}"> View</a></td>
        </tr>
    </table>

    <div class="btn btn-primary space"
         ngf-select ng-model="file"
         ngf-multiple="true">
         <i class="fa fa-paperclip" aria-hidden="true"></i> Attach File
    </div>

    <div ng-show="file.length > 0">
      <label>Files to upload</label>
      <table class="table table-hover">
        <tr ng-repeat="f in file">
          <td><i class="fa fa-file-o" aria-hidden="true"></i></td>
          <td>{{f.name}}</td>
          <td>{{f.size | toMB}} MB</td>
          <td style="color:red"><i class="fa fa-trash-o" aria-hidden="true"></i>
            <a style="color:red" href ng-click="removeFile()">Remove</td>
        </tr>
      </table>

      <button class="btn btn-success" ng-click="uploadFile()">
        <i class="fa fa-upload" aria-hidden="true"></i>
        Upload File
      </button>

    </div>



    <div class="space"></div>

    <label>Actions</label>
    <p ng-show="actions.length < 1">There are no actions for this mail correspondence.</p>
    <table class="table table-hover" ng-show="actions.length > 0">
        <tr ng-repeat="action in actions">
          <td style="color:#2780E3"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></td>
          <td class="capitalize">{{action.description}}</td>
          <td style="text-align:right;width:150px;">{{action.created_on | timestamp | date: 'MMM d'}}</td>
        </tr>
    </table>

    <button class="btn btn-success" ng-click="revealActionForm()">Add Action</button>
    <div style="padding-top:15px" ng-show="revealAction">
      <form novalidate ng-submit="createAction()">
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" ng-model="description"></textarea>
        </div>
        <a class="btn btn-default" ng-click="cancel()">Cancel</a>
        <button class="btn btn-success" type="submit">Submit</button>
      </form>
    </div>

  </div>
</div>
