<button class="btn btn-success btn-block"
        style="margin-bottom:10px;"
        data-ng-click="vm.goTo('/dashboard/truck-allo/transactions/create')"><strong>Create Transaction </strong></button>

  <div class="panel panel-default">
        <ul class="list-group">
          <li class="list-group-item">
            <i class="fa fa-file-o" aria-hidden="true"></i>
            <a href data-ng-click="vm.goTo('/dashboard/truck-allo/transactions-report')" style="text-decoration:none"> Detail Analysis </a>
          </li>
          <li class="list-group-item">
            <i class="fa fa-money" aria-hidden="true"></i>
            <a href data-ng-click="vm.goTo('/dashboard/truck-allo/transactions')" style="text-decoration:none"> Transactions </a>
          </li>
        </ul>
  </div>
