<button class="btn btn-success btn-block"
        style="margin-bottom:10px;"
        data-ng-click="goTo('dashboard/apps/mails/create')"><strong>CREATE MAIL</strong></button>

  <div class="panel panel-default">
        <ul class="list-group">
          <li class="list-group-item">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <a href data-ng-click="goTo('dashboard/apps/mails')"> Incoming <span style="float: right">{{mails.length}}</span></a>
          </li>
        </ul>
  </div>

  <button class="btn btn-default btn-block"
          style="margin-bottom:10px;"
          data-ng-click="logout()"><strong>Logout</strong></button>
